@CHARSET "ISO-8859-1";

#header {
	color: white;
}

#contentPanel{
	width: 58%;
	margin-right:auto;
	margin-left:auto;
	overflow: auto;    
    scrollbar-base-color:#ffeaff
}

body
{
	padding-top:80px;
}

td{
	 text-align: center;
}

th{
	 text-align: center;
}